{% extends 'layout.html' %}

{% block toolbar %}
{% if session.current_user %}
{% if session.current_user == post.author.username %}

<p class='toolbar'>
<a href={{ url_for('edit_view', _id=post.id) }}>Edit</a> | 
<a href={{ url_for('delete_view', id=post.id ) }} onclick='return confirm('Are you positive you want to delete this post?');'>Delete</a> |
<a href={{ url_for('add_view') }}>Write</a> |
<a href={{ url_for('logout_view') }}>Sign Out</a></p>

{% else %}

<p class='toolbar'>
<a href={{ url_for('add_view') }}>Write</a> | 
<a href={{ url_for('logout_view') }}>Sign Out</a></p>

{% endif %}
{% else %}

<p class='toolbar'><a href={{ url_for('login_view') }}>Sign In</a> | 
<a href={{ url_for('registration_view') }}>Join</a></p>

{% endif %}
{% endblock %}

{% block body %}

<h2>{{post.title}}</h2>
<p>Published by <b>{{post.author.username}}</b> on <b>{{post.pub_date.strftime('%d %B %Y')}}</b></p>
<p>{{post.body|safe}}</p>

{% endblock %}